{% extends 'base.html' %}

{% block content %}
    <h1 class="page-title">Card Data Per Encounter:</h1>
    <h2>Savage:</h2>
    <ul>
        <li><a href="/encounter/vampfatale">Vamp Fatale</a></li>
        <li><a href="/encounter/redhotanddeepblue">Red Hot and Deep Blue</a></li>
        <li><a href="/encounter/thetyrant">The Tyrant</a></li>
        <li><a href="/encounter/lindwurm">The Lindwurm</a></li>
    </ul>
    <h2>Extreme Trials:</h2>
    <ul>
        <li><a href="/encounter/doomtrain">Doomtrain</a></li>
    </ul>
    <h2>Ultimate Raids:</h2>
    <ul>
        <li><a href="/encounter/futuresrewritten">Futures Rewritten</a></li>
    </ul>
    <p>At the moment, I do not have reports logged for older ultimates. When or if more data is uploaded to the card calc, I will include them here.</p>
{% endblock %}