{% extends 'base.html' %}

{% block content %}
    <h1 class="page-title">Card Data Per Encounter:</h1>
    <h2><u>Dawntrail</u></h2>
    <h3>Savage:</h3>
    <ul>
        <li><a href="/encounter/vampfatale">Vamp Fatale</a></li>
        <li><a href="/encounter/redhotanddeepblue">Red Hot and Deep Blue</a></li>
        <li><a href="/encounter/thetyrant">The Tyrant</a></li>
        <li><a href="/encounter/lindwurm">The Lindwurm</a></li>
        <li><a href="/encounter/lindwurmii">The Lindwurm II</a></li>
    </ul>
    <h3>Extreme Trials:</h3>
    <ul>
        <li><a href="/encounter/doomtrain">Doomtrain</a></li>
    </ul>
    <h3>Ultimate Raids:</h3>
    <ul>
        <li><a href="/encounter/futuresrewritten">Futures Rewritten</a></li>
    </ul>
    <p>At the moment, I do not have reports logged for older ultimates. If more data is uploaded to the card calc, I will include them here.</p>
{% endblock %}