html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 80px;
}
@media (max-width: 768px) {
    body {
        margin-bottom: 180px;
    }
}
table, th, td {
    padding: 5px;
}
.badge {
    font-size: 100%;
}
.badge.badge-secondary {
    padding: .20em 0.4em;
}
.card {
    display: inline-block;
    text-align: center;
}
.card, .result-row {
    /* border: 1px solid #548046; */
    border-top-width: 3px;
    border-radius: 5px;
}
.footer {
    /* display: block; */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    line-height: 60px;
    border-top: 1px solid white;
    text-align: center;
    color: #fff;
    background-color: #78c2ad;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #78c2ad; /* Light green */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 0.5s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* the following is for the tabs */
.tabset {
    margin-top: 15px;
    margin-bottom: 15px;
}

.tabset > input {
    display:block; /* "enable" hidden elements in IE/edge */
    position:absolute; /* then hide them off-screen */
    left:-100%;
}

.tabset > ul {
    position:static;
    z-index:999;
    list-style:none;
    display:flex;
    margin-bottom:-9px;
    margin-left: -40px;
}

.tabset > ul label,
.tabset > div {
    /* border:1px solid hsl(0, 0%, 40%); */
    border:1px solid  rgba(29, 49, 44, 0.733);
}

.tabset > ul label {
    display:inline-block;
    padding:0.5em 2em;
    background:hsl(0, 0%, 100%);
    height: 100%;
    border-right-width:0;
    cursor: pointer;
}

.tabset > ul li:first-child label {
    border-radius:0.3em 0 0 0;
}

.tabset > ul li:last-child label {
    border-right-width:1px;
    border-radius:0 0.3em 0 0;
}

.tabset > div {
position:relative;
background:hsl(0, 0%, 100%);
border-radius:0em 0.3em 0.3em 0.3em;
}

.tabset > input:nth-child(1):checked ~ ul li:nth-child(1) label,
.tabset > input:nth-child(2):checked ~ ul li:nth-child(2) label,
.tabset > input:nth-child(3):checked ~ ul li:nth-child(3) label,
.tabset > input:nth-child(4):checked ~ ul li:nth-child(4) label,
.tabset > input:nth-child(5):checked ~ ul li:nth-child(5) label,
.tabset > input:nth-child(6):checked ~ ul li:nth-child(6) label,
.tabset > input:nth-child(7):checked ~ ul li:nth-child(7) label,
.tabset > input:nth-child(8):checked ~ ul li:nth-child(8) label,
.tabset > input:nth-child(9):checked ~ ul li:nth-child(9) label {
border-bottom-color:hsl(0, 0%, 83%);
background: rgba(120, 194, 173, 0.5)
}

.tabset > div > section,
.tabset > div > section h2 {
position:absolute;
top:-999em;
left:-999em;
}
.tabset > div > section {
padding:1em 1em 0;
}

.tabset > input:nth-child(1):checked ~ div > section:nth-child(1),
.tabset > input:nth-child(2):checked ~ div > section:nth-child(2),
.tabset > input:nth-child(3):checked ~ div > section:nth-child(3),
.tabset > input:nth-child(4):checked ~ div > section:nth-child(4),
.tabset > input:nth-child(5):checked ~ div > section:nth-child(5),
.tabset > input:nth-child(6):checked ~ div > section:nth-child(6),
.tabset > input:nth-child(7):checked ~ div > section:nth-child(7),
.tabset > input:nth-child(8):checked ~ div > section:nth-child(8),
.tabset > input:nth-child(9):checked ~ div > section:nth-child(9) {
position:Static;
}

.tabset > ul label {
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
}

/* Styling for screens below 512px */
@media (max-width: 512px) {
    .tabset > ul label {
        padding: 0.5em 1em;
    }
}


/* Styling for screens below 512px */
@media (max-width: 320px) {
    .tabset > ul label {
        padding: .5em .5em;
    }
}